USER_REGISTRATION_USERNAME_MIN_LENGTH = 4
USER_REGISTRATION_USERNAME_MAX_LENGTH = 50

USER_REGISTRATION_EMAIL_REQUIRED = True
USER_REGISTRATION_USERNAME_REQUIRED = True
USER_REGISTRATION_PASSWORD_REQUIRED = True
USER_REGISTRATION_NORMALIZE_EMAIL = True
USER_REGISTRATION_NORMALIZE_USERNAME = True
